<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<script src="https://unpkg.com/vue@next"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

ul {
  white-space:nowrap;
  overflow:hidden;
  list-style-type:none;
  padding-left: 0px;
  padding-bottom: 0px;
}
li {
  border-bottom:1px solid rgb(212, 212, 212);
  line-height:30px;
}
li a {
  color:rgb(0, 0, 0);
  text-decoration:none;
}

/*信息栏*/
#info {
  color:#F00;
}

/* 头部标题 */
.header {
  padding: 30px;
  /*text-align: center;*/
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* 创建两列 */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* 图像部分 */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* 文章卡片效果 */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* 列后面清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 底部 */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>
<div id="app"> <!--app VM 开始-->
<div class="header">
  <h1 id="siteName">{{siteName}}</h1>
  <p id="siteDescription">{{siteDescription}}</p>
</div>

<div v-if="info != ''" id="info"> <!--信息栏-->
  <b>{{info}}</b>
</div>

<div class="topnav">
  <a v-for="menu in menus" :href="menu.url" :style="menu.right">{{menu.name}}</a> <!-- style="float:right" 靠右 -->
</div>

<div class="row">
  <div class="leftcolumn">
    <div v-for="article in articles" class="card">
      <h2>{{article.title}}</h2>
      <h5>发布：{{article.releaseTime}}，修改：{{article.modificationTime}} | 分类: <a v-if="article.category == ''">未分类</a><a v-else :href="'/category/'+article.category">{{article.category}}</a> | 标签：<a v-if="article.tags == ''">无标签</a><a v-else v-for="tag in article.tags.split(',')" :href="'/tag/'+tag">{{tag}}, </a></h5>
      <div class="fakeimg" style="height:200px;">图片</div>
      <p>{{article.synopsis}}<a :href="articleURL(article.key)">继续阅读 »</a></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h3>近期发布</h3>
      <ul class="li">
        <li v-for="recent in recents"><a :href="recent.url" :title="recent.releaseTime">{{recent.title}}</a></li>
      </ul>
    </div>
    <div class="card">
      <h3>分类目录</h3>
      <ul class="li">
        <li v-for="category in categorys"><a :href="category.url" :title="category.introduction">{{category.name}}</a></li>
      </ul>
    </div>
    <div class="card">
      <h3>标签云</h3>
      <ul class="li">
        <li v-for="tag in tags"><a :href="tag.url">{{tag.name}}</a></li>
      </ul>
    </div>
    <div class="card">
      <h3>链接</h3>
      <ul class="li">
        <li v-for="link in links"><a :href="link.url" :title="link.introduction">{{link.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="footer"> <!--页脚&信息-->
  <h2>
    &copy;&nbsp;<a href=https://www.aregg.com> ArEgg </a>
  </h2>
</div>
</div> <!--app VM 结束-->
</body>
<script>
  const RootComponent = {
    data() {
      return {
        title:"首页 - ArEgg",
        siteName:"ArEgg",
        siteDescription:"哼哈哈",
        menus:[{name:'首页',url:"/",right:''},{name:'测试',url:"/category/测试",right:''},{name:'管理',url:"/admin",right:'float:right'}],
        info:'',
        articles:[
          {title:"测试11",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"欢迎使用,欢迎使用,欢迎使用,欢迎使用,测试",synopsis:"测试2",key:"测试11"},
          {title:"测试10",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试10"},
          {title:"测试9",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试9"},
          {title:"测试8",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试8"},
          {title:"测试7",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试7"},
          {title:"测试6",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试6"},
          {title:"测试5",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试5"},
          {title:"测试4",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试4"},
          {title:"测试3",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试3"},
          {title:"测试2",releaseTime:"2022-02-27",modificationTime:"2022-02-28",category:"测试",tags:"测试",synopsis:"测试2",key:"测试2"},
          {title:"测试1",releaseTime:"2022-02-26",modificationTime:"2022-02-28",category:"测试",tags:"测试,技术",synopsis:"测试1",key:"测试1"},
          {title:"欢迎使用",releaseTime:"2022-02-26",modificationTime:"2022-02-26",category:"",tags:"欢迎使用",synopsis:"欢迎使用",key:"欢迎使用"},],
        recents:[],
        categorys:[],
        tags:[],
        links:[],
      }/*{{}}*/
    },
    methods: {
      articleURL(key){
        return `/article/${key}`
      },
      articleCategory(category){
        if(category==""){
          return "未分类"
        }else{
          return `<a href=/category/${category}>${category}</a>`
        }
      },
      articleTag(tags){
        if(tags==""){
          return "无标签"
        }else{
          let tegHtml = ""
          let tagsarr = tags.split(",")
          for (k in tagsarr){
            tegHtml += `<a href=/tag/${tagsarr[k]}>${tagsarr[k]}</a>`
          }
          return tegHtml
        }
      }
    },
  }
  document.title = RootComponent.data().title
  const app = Vue.createApp(RootComponent)
  const vm = app.mount('#app')
  </script>
</html>